
<p id="notice"><%= notice %></p>
<p>
  <strong>First Name:</strong>
  <%= @datacheck.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @datacheck.last_name %>
</p>
<%= link_to 'Back', datachecks_path%>