<h1>User#index</h1>
<br>
<%= link_to "Edit Profile", edit_profile_path(current_user.profile) %>
<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% end %>
